<div class="col-12 flex justify-content-center">
  <div class="col-10">
    <p-card header="Add author ">
      <form [formGroup]="authorsForm">
          <span class="p-float-label col-12 ">
            <input pInputText class="col-12" formControlName="firstname"/>
            <label htmlFor="firstName"> firstName</label>
          </span>
        <br>
        <span class="p-float-label col-12 ">
            <input pInputText class="col-12" formControlName="lastname"/>
            <label htmlFor="firstName">lastName</label>
          </span>
        <br>
        <span class="p-float-label col-12 ">
            <input pInputText class="col-12" formControlName="email"/>
            <label htmlFor="firstName">email</label>
          </span>
        <br>
        <span class="p-float-label col-12 ">
            <input pInputText class="col-12" formControlName="university"/>
            <label htmlFor="firstName">university</label>
          </span>
        <div class="    col-12  ">
          <div class="flex col-8 md:col-4 xl:col-4 lg:col-5 justify-content-around align-items-center">

            <label htmlFor="email">isAlive :</label>
            <p-inputSwitch formControlName="isAlive"></p-inputSwitch>

          </div>
          <div class="col-12 flex justify-content-end">
            <p-button icon="pi pi-eraser " styleClass="p-button-danger" class=" mx-2"></p-button>
             <p-button (onClick)="add()" label="Submit" icon="pi pi-check" iconPos="right"></p-button>
           </div>
        </div>
      </form>
    </p-card>
  </div>
</div>


