<div class="flex flex-wrap">
  <div class="col-12 md:col-6">
    <list></list>
  </div>
  <div class="col-10 md:col-6 flex-wrap">

    <form-inputs></form-inputs>
    <section class="col-12 flex justify-content-center">
      <div class="col-10 ">
        <h4 class="font-medium " style="font-family: 'Yu Gothic',serif"> latest author added :</h4>
        <section class=" flex gap-1 mt-4 flex-wrap ">
          <div class="w-4 h-5rem bg-black-alpha-20 border-round-2xl p-2">
            <div>
              <label>author name </label>
              <br>
              <label>author last name </label>
              <br>
              <label> date</label>

            </div>
          </div>
          <div class="w-4 h-5rem bg-black-alpha-20 border-round-2xl"></div>
          <div class="w-4 h-5rem bg-black-alpha-20 border-round-2xl"></div>
        </section>
        <h4 class="font-medium " style="font-family: 'Yu Gothic',serif"> latest author change :</h4>
        <section class=" flex gap-1 mt-4 flex-wrap ">
          <div class="w-4 h-5rem bg-black-alpha-20 border-round-2xl p-2">
            <div>
              <label>author name </label>
              <br>
              <label>author last name </label>
              <br>
              <label> date</label>

            </div>
          </div>
          <div class="w-4 h-5rem bg-black-alpha-20 border-round-2xl"></div>
          <div class="w-4 h-5rem bg-black-alpha-20 border-round-2xl"></div>
        </section>
      </div>
    </section>
  </div>

</div>
