<div class="card my-5">
  <p-table class="p-table" [columns]="col" [value]="rowData"
           [tableStyle]="{ 'min-width': '50rem', 'background-color': 'black' }">
    <ng-template pTemplate="header">
      <tr>

        <th *ngFor="let col of col">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template let-Data pTemplate="body">
      <tr>
        <td >
          {{Data.firstname}}
        </td>
        <td >
          {{Data.lastname}}
        </td>
        <td >
          {{Data.email}}
        </td>
        <td >
          {{Data.university}}
        </td>
        <td >
          {{Data.isAlive}}
        </td>
        <td >
         <p-button  styleClass="p-button-danger"   > <i class="pi pi-trash"></i> </p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
