
  <div [formGroup]="authorsForm" class="m-3">
    <div class="lg:col-12">
      <div class="md:col-4 none flex justify-content-around">
    <span class="p-float-label">
        <input pInputText formControlName="firstName"/>
        <label htmlFor="firstName">{{'firstName' | translate}}</label>
    </span>
        <span class="p-float-label">
        <input pInputText formControlName="lastName"/>
        <label htmlFor="lastName">{{'lastName' | translate}}</label>
    </span>
      </div>
       <div class="md:col-4 none  flex justify-content-around">
    <span class="p-float-label">
        <input pInputText formControlName="email"/>
        <label htmlFor="email">{{'email' | translate}}</label>
    </span>
        <span class="p-float-label">
        <input pInputText formControlName="university"/>
        <label htmlFor="university">{{'university' | translate}}</label>
    </span>
      </div>

    </div>
    <div class="md:col-4  flex justify-content-around align-items-center">
      <div class="flex  col-4 justify-content-around align-items-center">

        <label htmlFor="email">{{'isAlive' | translate}} :</label>
        <p-inputSwitch></p-inputSwitch>

      </div>
      <span class="p-buttonset ml-6   ">
      <p-button label="{{'save' | translate}}"></p-button>
        <pbutton pButton class="p-button-danger" pRipple label="{{'clear' | translate}}" icon="pi pi-trash"></pbutton>
      </span>
    </div>
  </div>
  <p-toast></p-toast>

