<div [formGroup]="authorsForm">
    <span class="p-float-label">
        <input pInputText formControlName="firstName"/>
        <label htmlFor="firstName">firstName</label>
    </span>
  <span class="p-float-label">
        <input pInputText formControlName="lastName"/>
        <label htmlFor="lastName">lastName</label>
    </span>
  {{ authorsForm.controls['firstName'].value }}
  <span class="p-float-label">
        <input pInputText formControlName="email"/>
        <label htmlFor="email">email</label>
    </span>
  <span class="p-float-label">
        <input pInputText formControlName="university"/>
        <label htmlFor="university">university</label>
    </span>
  <div class="flex align-items-center gap-1">
    <p-checkbox name="group1" value="San Francisco" formControlName="isAlive" inputId="live"></p-checkbox>
    <label for="live">live</label>
  </div>
  <div class="flex align-items-center gap-1">
    <p-checkbox name="group1" value="Los Angeles" formControlName="isDead" inputId="dead"></p-checkbox>
    <label for="dead">dead</label>
  </div>
</div>
<button pButton (click)="add()">add</button>
<p-toast></p-toast>
